%div{ :id => "#{type}-orders", :class => "order-book" }
  %h2= t(".#{title}")
  %table.default
    %tr
      %th= t(".price")
      %th= t(".amount")
      %th= t(".total")

    - unless orders.blank?
      - orders.each do |to|
        %tr{ :class => cycle('even', 'odd') }
          - if to.ppc
            %td.amount= format_amount(to[:price], to[:currency], 4)
          - else
            %td= t(".market_order")
          %td.amount= number_to_bitcoins to[:amount], :precision => 3
          - if to.ppc
            %td.amount= format_amount(to[:ppc]*to[:amount], to[:currency], 3)
          - else
            %td= t(".market_order")
    - else
      = render :partial => "layouts/no_data"
